<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="main">
        <div class="logo">
            {% if session['role'] == 'Admin' %}
        <a href="{{ url_for('admin_dashboard') }}">
                <img src="{{ url_for('static', filename='mmu_logo.png') }}" alt="MMU Logo">
            </a>
            {% else %}
        <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='mmu_logo.png') }}" alt="MMU Logo">
            </a>
            {% endif %}
        </div>
        <ul>
            {# ONLY Security Staff sees this tab #}
            {% if session.get('role') == 'Security staff' %}
                <li><a href="{{ url_for('reportuser') }}">Report User</a></li>
            {% endif %}
            {% if session.get('role') != 'Admin' %}
            <li><a href="{{ url_for('reportform') }}">Report Form</a></li>
            {% endif %}
            <li><a href="{{ url_for('incidents') }}">View Incidents</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('login') }}">Logout</a></li>
            {# ONLY Security Staff sees this tab #}
            {% if session.get('role') == 'Security staff' %}
                {% if emergency_count != 0 %}
                    <li id="emergency">{{emergency_count}}<a href ="{{ url_for('incidents') }}">Emergency Incidents Detected</a></li> 
                {% endif %}
                <img src="{{ url_for('static', filename='Notification.png') }}" alt="Notification Bell" id="bell">
            {% endif %}
        </ul>
    </div>
</header>

{% block body %}{% endblock %}

<footer>
    <p>&copy; 2024 Multimedia University. All rights reserved.</p>
</footer>

</body>
</html>
