    
    {% extends "base.html" %}

    {% block title %}MMU Security Dashboard{% endblock %}
    {% block body %}

    <main>
        <section>
            <h2>Welcome to the MMU Security Dashboard</h2>
            <p>Help us make the campus safer for everyone.</p>
        </section>
           
        <section class="info">
            <div class="info-box">
                <h3>Safety Measures for Students.</h3>
                <p>Always be aware of your surroundings, report suspicious activities, and utilize campus security services when needed.</p>
                <p>Take precautions when walking alone at night, stay in well-lit areas, and trust your instincts.</p>
                <p>Carry a small personal safety device, such as a whistle or pepper spray, for added security.</p>
                <p>Familiarize yourself with emergency contact numbers and campus security locations.</p>
                <p>Frequently check reported incidents on the dashboard to stay informed about safety concerns in your area.</p>
            </div>
        </section>
    </main>

    {% endblock %}